* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

header {
    border-radius: 5px;
    background-color: #0073f7be;
    padding: 25px;
    padding-bottom: 30px ;
    text-align: center;
}

h1 {
    color: #ffffff;
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #0073f7be;
    color: #ffffff;
}

section {
    margin-top: 15px;
     color: #ffffff;
}

section h1 {
    color: #333;
    text-align: center;
}

#contador {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    text-align: center;
}