* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.tema-escuro {
    background-color: #121212;
    color: white;
}

header {
    background-color: #0088f7;
    color: white;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid #0056b3;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

main {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: background-color 0.3s ease;
    flex-grow: 1;
}

body.tema-escuro main {
    background-color: #333;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-top: 2px solid #ccc;
    margin-top: 30px;
}

body.tema-escuro footer {
    background-color: #1a1a1a;
    color: white;
}

button {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: #0088f7;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #093e69;
    box-shadow: 0 4px 10px rgb(0, 162, 255);
}
