* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

header {
    background-color: #0088f7;
    color: white;
    padding: 30px 60px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

main {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    transition: background-color 0.3s ease;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: #0088f7;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #093e69;
    box-shadow: 0 4px 10px rgb(0, 162, 255);
}

footer {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    color: #333;
    font-size: 14px;
    width: 100%;
    max-width: 600px;
}
